sbpro-card
    .card-header Default Bootstrap Tooltips
    .card-body
        .sbp-preview
            .sbp-preview-content.py-3
                .row
                    .col-auto.my-2
                        button.btn.btn-primary(
                            type='button',
                            placement='top',
                            ngbTooltip='Tooltip on top'
                        ) Tooltip on top
                    .col-auto.my-2
                        button.btn.btn-primary(
                            type='button',
                            placement='right',
                            ngbTooltip='Tooltip on right'
                        ) Tooltip on right
                    .col-auto.my-2
                        button.btn.btn-primary(
                            type='button',
                            placement='bottom',
                            ngbTooltip='Tooltip on bottom'
                        ) Tooltip on bottom
                    .col-auto.my-2
                        button.btn.btn-primary(
                            type='button',
                            placement='left',
                            ngbTooltip='Tooltip on left'
                        ) Tooltip on left

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                Tooltips are visible when an element is hovered over.
