sbpro-card
    .card-header Default Bootstrap Popovers
    .card-body
        .sbp-preview
            .sbp-preview-content.py-3
                .row
                    .col-auto.my-2
                        button.btn.btn-primary(
                            placement='top',
                            ngbPopover='This popover is on the top!',
                            popoverTitle='Popover Title'
                        ) Popover on top
                    .col-auto.my-2
                        button.btn.btn-primary(
                            placement='right',
                            ngbPopover='This popover is on the right!',
                            popoverTitle='Popover Title'
                        ) Popover on right
                    .col-auto.my-2
                        button.btn.btn-primary(
                            placement='bottom',
                            ngbPopover='This popover is on the bottom!',
                            popoverTitle='Popover Title'
                        ) Popover on bottom
                    .col-auto.my-2
                        button.btn.btn-primary(
                            placement='left',
                            ngbPopover='This popover is on the left!',
                            popoverTitle='Popover Title'
                        ) Popover on left

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                Popovers are visible when an element is clicked, or focused.
